.button-content {
    width: 100%;
    padding: 0 0 2rem 0;

    &__button {
        height: 5rem;
        width: 100%;
        font-size: 1.6rem;
        font-weight: bold;
        border-radius: 0.2rem;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
        cursor: pointer;

        &--primary {
            border: none;
            outline: none;
            background-color: var(--blue-medium);
            color: var(--white);

            &:hover {
                background-color: var(--blue-dark);
            }

            &:active {
                -webkit-box-shadow: none;
                box-shadow: none;
            }

            &:disabled {
                opacity: 0.8;
                -webkit-box-shadow: none;
                box-shadow: none;
            }
        }

        &--small {
            width: auto;
            height: 3rem;
            line-height: 3rem;
            padding: 0 2rem;
            font-size: 1.4rem;
            font-weight: normal;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        svg {
            margin-top: 0.5rem;
        }
    }
}