@import url('https://fonts.googleapis.com/css?family=Baskervville&display=swap');

.intro {
	background: var(--blue);
	
	&__container {
		max-width: 40rem;
		height: 100vh;
		margin: auto;
		padding: 3.2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__logo {
		width: 10rem;
		height: 10rem;
		margin-bottom: 2rem;
	}

	&__title {
		font-size: 3rem;
		font-family: var(--title-font);
		color: var(--white);
		margin-bottom: 5rem;
	}

	&__text {
		line-height: 1.5em;
		font-size: 1.6rem;
		color: var(--white);
		padding: 0 0 2rem 0;
		text-align: center;
	}
}