:root {
  --base-font: 'OpenSans';
  --title-font: 'baskervville';
  --white: #fff;
  --black: #000;
  --blue-light: #4eb5ce;
  --blue: #008fb2;
  --blue-medium: #007a99;
  --blue-dark: #0a667d;
  --gray-light: #f2f2f6;
  --gray: #dedede;
  --gray-medium: #cecdcf;
  --gray-dark: #949292;
  --danger: #f00;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}