.report-list {
	margin-bottom: 4rem;

	&__year {
		padding: 1rem 0;
		font-size: 1.8rem;
		color: var(--blue);

		b {
			font-weight: bold;
		}
	}

	&__item {
		margin: 2rem 0;
		display: flex;
		align-items: center;
	}

	&__title {
		font-size: 2rem;
		font-weight: bold;
		width: 5rem;
		height: 5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--white);
		background-color: var(--blue);
		border-radius: 50%;
	}

	&__books {
		line-height: 2rem;
		margin: 0.5rem 2rem;
		font-size: 1.4rem;
		color: var(--gray-dark);
	}

	&__text {
		line-height: 2rem;
		margin: 0.5rem 2rem;
		font-size: 1.4rem;
		color: var(--gray-dark);
		font-style: italic;
	}
}